#
# This is for the KDE menu that displays as sub-menus the Gnome menu
# and the menus of other non-KDE X11 programs
#
# To send to mosfet each time new languages are added
#
Name=Gnome and X Apps
Name[af]=Gnome en X applikasies
Name[ar]=جنوم (Gnome) وبرامج اكس X
Name[az]=Gnome ve X Proqram Tǝ'minatları
Name[be]=Праграмы Gnome і X
Name[bg]=Gnome и приложения за X
Name[br]=Arloadoù X ha Gnome
Name[ca]=Gnome i aplicacions X
Name[cs]=Gnome a X aplikace
Name[cy]=Gnome a Rhaglenni X
Name[da]=Gnome og X applikationer
Name[de]=Gnome und X Applikationen
Name[el]=Εφαρμογές Gnome και KDE
Name[eo]=Gnoma kaj X Aplikaj Programoj
Name[es]=Aplicaciones Gnome y X
Name[et]=Gnome ja X rakendused
Name[eu]=Gnome eta X aplikazioak
Name[fi]=Gnome ja X-sovellukset
Name[fr]=Applications Gnome et X
Name[ga]=Gnome agus Feidhmchláir X
Name[gl]=Aplicacións para Gnome e X
Name[hr]=Gnom i X aplikacije
Name[hu]=Gnome és X alkalmazások
Name[id]=Gnome dan Aplikasi X
Name[is]=Gnome og X forrit
Name[it]=Gnome e applicazioni X
Name[ja]=GnomeとXアプリケーション
Name[ka]=Gnome და X პროგრამები
Name[ko]=그놈과 X 응용 프로그램
Name[lt]=Gnome ir X Programos
Name[lv]=Gnome un X aplikācijas
Name[mk]=Gnome и X апликасий
Name[nl]=Gnome en X-Toepassingen
Name[no]=Gnome og X-applikasjoner
Name[pl]=Gnome oraz aplikacje X
Name[pt]=Gnome e Aplicações X
Name[pt_BR]=Aplicativos Gnome e X
Name[ro]=Gnome şi aplicaţii X
Name[ru]=Gnome и приложения X
Name[sk]=Gnome a X aplikácie
Name[sl]=Programi Gnome in X
Name[sp]=Gnome и X апликације
Name[sq]=Gnome dhe aplikimet X
Name[sv]=Gnome och X Apps
Name[th]=Gnome และ โปรแกรมสำหรับ X
Name[tr]=Gnome ve X Uygulamaları
Name[uk]=Програми для Gnome та X
Name[wa]=Programes Gnome eyèt X
Name[zh_CN]=Gnome 和 X 应用

