# KDE Config File  
[Desktop Entry]
Type=Application
Exec=krootwarning -caption "%c" %i %m  
Icon=krootwarning.png
MiniIcon=krootwarning.png
DocPath=krootwarning/index.html
Comment=
Comment[de]=
Terminal=0
Name=Krootwarning
Name[de]=Krootwarning
X-KDE-autostart-after=kdesktop