[Desktop Entry]
Name=DrakConf
Name[da]=DrakConf
Name[es]=DrakConf
Name[nl]=DrakConf
Name[zh_CN.GB2312]=DrakConf
Icon=../icons/DrakConf.xpm
TryExec=DrakConf;
Exec=/usr/X11R6/bin/DrakConf
Terminal=0
Type=Application
