[Desktop Entry]
Name=DrakConf
Name[af]=DrakConf
Name[ar]=DrakConf
Name[br]=DrakConf
Name[ca]=DrakConf
Name[cs]=DrakConf
Name[cy]=DrakConf
Name[da]=DrakConf
Name[de]=DrakConf
Name[el]=DrakConf
Name[eo]=DrakConf
Name[es]=DrakConf
Name[et]=DrakConf
Name[fi]=DrakConf
Name[fr]=DrakConf
Name[ga]=DrakConf
Name[gl]=DrakConf
Name[hr]=DrakConf
Name[hu]=DrakConf
Name[is]=DrakConf
Name[ko]=DrakConf
Name[lt]=DrakConf
Name[lv]=DrakConf
Name[nl]=DrakConf
Name[no]=DrakConf
Name[ro]=DrakConf
Name[sk]=DrakConf
Name[sl]=DrakConf
Name[sp]=DrakConf
Name[sr]=DrakConf
Name[sv]=DrakConf
Name[tr]=DrakConf
Name[wa]=DrakConf
Name[zh_CN.GB2312]=DrakConf
Comment=The system configuration tools of Linux-Mandrake
Comment[cs]=Konfiguraèní nástroj distribuce Linux-Mandrake
Comment[da]=Linux-Mandrakes værktøjer for systemkonfiguration
Comment[fr]=Les outils Linux-Mandrake de configuration du système
Comment[hu]=A Linux-Mandrake rendszerkonfigurációs eszközei
Comment[lv]=inux-Mandrake sistçmas konfigurçðanas rîki
Comment[no]=Systemkonfigurasjonsverktøyene til Linux-Mandrake
Comment[wa]=Les usteyes d' apontiaedje do sistinme di Linux-Mandrake
Icon=../icons/large/DrakConf.xpm
TryExec=DrakConf;
Exec=/usr/X11R6/bin/DrakConf
Terminal=0
Type=Application
