[Desktop Entry]
Name=DrakConf
Icon=../icons/DrakConf.xpm
TryExec=DrakConf;
Exec=/usr/bin/kdesu -c "/usr/X11R6/bin/DrakConf"
Terminal=0
Type=Application
