
[Desktop Entry]
Name=Documentation
Icon=/usr/share/icons/documentation_section.xpm
Exec=$HELP_BROWSER /usr/share/doc/mandrake/de/index.html 
Terminal=false
MultipleArgs=false
Type=Application
