
[Desktop Entry]
Name=Mandrake Store
Icon=/usr/share/pixmaps/mc/mandrakestore.xpm
URL=http://www.mandrakestore.com/
Terminal=false
MultipleArgs=false
Type=Links
