
[Desktop Entry]
Name=Internet
Name[fr]=Réseau
Exec=/usr/bin/gnomedesktop-network 
Icon=draknet-mdk.png
Terminal=false
MultipleArgs=false
Type=Application
