
[Desktop Entry]
Name=Internet
Exec=/usr/bin/gnomedesktop-network 
Icon=networking_www_section.png
Terminal=false
MultipleArgs=false
Type=Application
