
[Desktop Entry]
Name=Mandrake News
Icon=gnome-mandrakenews.png
Exec=http://www.mandrakesoft.com/community/mandrakesoftnews
Terminal=false
MultipleArgs=false
Type=URL
