
[Desktop Entry]
Name=Internet
Name[fr]=Réseau
Exec=/usr/bin/gnomedesktop-network 
Icon=networking_www_section.xpm
Terminal=false
MultipleArgs=false
Type=Application
