[Desktop Entry]
Name=RpmDrake
Name[nl]=RpmDrake
Name[zh_CN.GB2312]=RpmDrake 软件包管理"
Exec=/usr/X11R6/bin/rpmdrake
Icon=../icons/rpmdrake.xpm
TryExec=/usr/X11R6/bin/rpmdrake
Exec=/usr/X11R6/bin/rpmdrake
Terminal=0
Type=Application

