[Desktop Entry]
Name=RpmDrake
Name[ca]=RpmDrake
Name[da]=RpmDrake
Name[de]=RpmDrake
Name[el]=RpmDrake
Name[es]=RpmDrake
Name[fi]=RpmDrake
Name[fr]=RpmDrake
Name[ga]=RpmDrake
Name[gl]=RpmDrake
Name[hr]=RpmDrake
Name[hu]=RpmDrake
Name[lt]=RpmDrake
Name[lv]=RpmDrake
Name[nl]=RpmDrake
Name[no]=RpmDrake
Name[sk]=RpmDrake
Name[sl]=RpmDrake
Name[sv]=RpmDrake
Name[zh_CN.GB2312]=RpmDrake 软件包管理"
Exec=/usr/X11R6/bin/rpmdrake
Icon=../icons/rpmdrake.xpm
TryExec=/usr/X11R6/bin/rpmdrake
Exec=/usr/X11R6/bin/rpmdrake
Terminal=0
Type=Application

