[Desktop Entry]
Encoding=UTF-8
Name=Donate to OpenMandriva Community
Name[pl]=Wspomóż finansowo społeczność OpenMandriva
Type=Link
URL=http://openmandriva.org/en/donate
Icon=omv-donate
