[Desktop Entry]
Encoding=UTF-8
Name=Donate to OpenMandriva Community
Name[pl]=Wspomó¿ finansowo spo³eczno¶æ OpenMandriva
Type=Link
URL=https://www.openmandriva.org/Donate
Icon=omv-donate
