[Desktop Entry]
Encoding=UTF-8
Name=Donate
Name[pl]=Donacja
Comment=Donate to OpenMandriva Community
Comment[pl]=Wspomó¿ finansowo spo³eczno¶æ OpenMandriva
Type=Link
URL=https://www.openmandriva.org/Donate
Icon=omv-donate
