[Desktop Entry]
Encoding=UTF-8
Name=Join
Name[pl]=Do³±cz
Comment=Join OpenMandriva Community
Comment[pl]=Do³±cz do spo³eczno¶æi OpenMandriva
Type=Link
URL=https://www.openmandriva.org/Join-contribute
Icon=omv-join-now
