[Desktop Entry]
Encoding=UTF-8
Name=Join OpenMandriva Community
Name[pl]=Dołącz do społeczności OpenMandriva
Type=Link
URL=http://openmandriva.org/en/join
Icon=omv-join-now
