[Desktop Entry]
Encoding=UTF-8
Name=Join OpenMandriva Community
Name[pl]=Dołącz do społeczności OpenMandriva
Type=Link
URL=https://www.openmandriva.org/Join-contribute
Icon=omv-join-now
