[Desktop Entry]
Encoding=UTF-8
Name=Make Your Tribute
Type=Link
URL=https://forums.openmandriva.org/en/discussion/1000/to-all-our-users-openmandriva-tribute-edition
Icon=omv-mandriva-tribute
